<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">کپی رایت فروشگاه تاپ لرن @year </span>
</nav>

@code{
    string year = "";

    protected override void OnInitialized()
    {
        year = DateTime.Now.Year.ToString();

        base.OnInitialized();
    }
}