@using MyBlazorHosted.Libraries.ShoppingCart.Models;
@inject IConfiguration Configuration
@inject HttpClient _HttpClient

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img style="max-width:50px" src="/@Configuration["Sitelogo"]" />
        @Configuration["Title"]
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="/">خانه</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="/cart">سبد خرید(
                <span>
                        @if (shopingCartCountModel != null)
                        {
                            @shopingCartCountModel.Count
                        }
                </span>)
                </NavLink>
            </li>
        </ul>

    </div>
</nav>

@code
{
    [CascadingParameter(Name = "ShopingCartCountModel")]
    private ShopingCartCountModel? shopingCartCountModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (shopingCartCountModel != null)
        {
            shopingCartCountModel.CountChange += async () =>
            {
                shopingCartCountModel.Count = await _HttpClient.GetFromJsonAsync<int>("/api/ShoppingCart/count");

                StateHasChanged();
            };
        }
        await base.OnInitializedAsync();
    }

}